<html>
<head>
	<title>Login | PriCoSha</title>
	<style>
		label { 
			display:block; 
			margin-bottom: 15px; 
		}
		input { 
			text-align: center; 
		}
		button {
		    background-color: #04859D;
		    border: none;
		    color: white;
		    padding: 15px 30px;
		    text-align: center;
		    display: inline-block;
		    font-size: 18px;
		    margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<center>
	<h1 style="color:red">PriCoSha</h1>
<form action="/loginAuth" method="POST">
	<label><input type="text" name = "username" placeholder="username" required/></label>
	<label><input type="password" name = "password" placeholder="password" required/></label>
	<label><button type="submit" value = "Login">Login</button></label>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/"><button type="button">Back</button></a>
</center>
</body>


</html>
